#wrapper { 
height: 700px; 
width: 750px;
background-color: white;
display: grid;
grid-template-columns:  1fr 1fr 1fr 1.2fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
font-family: arial;
}


#wynik{ grid-column: 1/4;
border: 10px solid black;
font-size: xx-large;
text-align: center;
font-size: 400%;
}

#pomnożyć{
grid-column:-1/-2;
font-size: 400%;
border: 10px solid black;
text-align: center;
background-color: pink;
border-radius: 20%;
font-family: arial;
}

#dodać
{
grid-column:-1/-2;
font-size: 400%;
border: 10px solid black;
text-align: center;
background-color: pink;
border-radius: 20%;
font-family: arial;
}

#podziel{
grid-column:-1/-2;
font-size: 400%;
border: 10px solid black;
text-align: center;
background-color: pink;
border-radius: 20%;
font-family: arial;
}

#odjąć{
grid-column:-1/-2;
font-size: 400%;
border: 10px solid black;
text-align: center;
background-color: pink;
border-radius: 20%;
}


#Usunąć{
grid-column:-1/-2;
font-size: 400%;
border: 10px solid black;
text-align: center;
background-color: pink;
border-radius: 20%;
}


.liczba1{grid-column: 1/2;
grid-row: 3/2;
font-size: 400%;
border: 10px solid black;
text-align: center;
border-radius: 20%;
}

.liczba2{grid-column: 2/3;
grid-row: 3/2;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}

.liczba3{grid-column: 3/4;
grid-row: 3/2;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}

.liczba4{grid-column: 1/2;
grid-row: 3/4;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}


.liczba5{grid-column: 2/3;
grid-row: 3/4;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}

.liczba6{grid-column: 3/4;
grid-row: 3/4;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}

.liczba7{grid-column: 1/2;
grid-row: 4/5;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}


.liczba8{grid-column: 2/3;
grid-row: 4/5;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;
}



.liczba9{grid-column: 3/4;
grid-row: 4/5;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;}

.kropka{grid-column: 2/3;
grid-row: 5/6;
font-size: 400%;
border: 10px solid black;
text-align: center;
border-radius: 20%;}

.zero{grid-column: 1/2;
grid-row: 5/6;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;}



.równość{
grid-column: 3/4;
grid-row: 5/6;
font-size: xx-large;
border: 10px solid black;
text-align: center;
border-radius: 20%;
font-size: 400%;}

